# IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# System files
.DS_Store
Thumbs.db

# Project specific
.gemini/
node_modules/
dist/
build/
*.log

# App specific
.chrome_data/
manifest.json.bak
